/* General */
.ventas-table {
  width: 100%;
  margin-bottom: 16px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

/* Tarjeta Principal */
mat-card {
  background-color: #1e1e1e;
  color: #ffffff;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #1976d2;
}

/* Tabla */
table {
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
  background-color: #333333;
  color: #ffffff;
}

td {
  color: #cccccc;
}

button {
  min-width: 100px;
  margin-right: 8px;
}


.filtros {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.botones-filtros {
  display: flex;
  gap: 8px;
}

.ventas-table {
  width: 100%;
}

mat-card {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 8px;
}

.card-title {
  text-align: center;
  color: #1976d2;
  font-size: 1.5rem;
  font-weight: bold;
}
