.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.botones-filtros {
  display: flex;
  gap: 10px;
}

.table-container {
  overflow: auto;
}

.ventas-table {
  width: 100%;
}

/* Estilos para la fila expandible */
.venta-row td {
  border-bottom-width: 0;
}

.detail-row {
  height: 0;
  border-bottom: none;
}

/* Asegura que la celda de detalle no tenga padding cuando está colapsada */
.detail-row td {
  padding: 0 !important; /* Elimina el padding interno */
  border-bottom: none; /* Oculta el borde inferior de la celda colapsada */
}

.venta-row.expanded-row {
  border-bottom: 1px solid #e0e0e0;
}

.venta-detail {
  overflow: hidden;
  display: flex;
  background-color: #333; /* Fondo oscuro */
  padding: 16px;
  color: #f0f0f0; /* Color de texto claro para contraste */
}

.venta-detail strong {
  color: #ffffff; /* Asegura que el texto en negrita sea blanco puro */
}

.detail-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  align-items: center;
}

.detail-actions {
  grid-column: -1; /* Alinea el botón a la derecha */
  justify-self: end;
}

/* Chip de estado */
.status-chip {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.status-chip.pagado {
  background-color: #4caf50; /* Verde */
}

.status-chip.pendiente {
  background-color: #f44336; /* Rojo */
}

/* Hacer la fila clickeable */
.venta-row {
  cursor: pointer;
}