<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar>
          <span class="tool-menu-span">Menu</span>
          <button mat-button class="nav-button" (click)="sidenav.toggle()">
              <mat-icon style="margin: 4px; font-size: 26px;">arrow_back</mat-icon>
          </button>
      </mat-toolbar>

      <mat-nav-list>
          <a routerLink="./" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>home</mat-icon>
              <span class="nav-text">Home</span>
          </a>
          <a   href="/admin/productos"  mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>inventory</mat-icon>
              <span class="nav-text">Productos</span>
          </a>
          <a   href="/admin/registro-inventario"  mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>inventory</mat-icon>
              <span class="nav-text">Registro de inventario</span>
          </a>
          <a href="/admin/clientes" mat-list-item (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>people</mat-icon>
            <span class="nav-text">Clientes</span>
        </a>
        <a href="/admin/clientes-por-aldea" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>pie_chart</mat-icon>
          <span class="nav-text">Clientes por Aldea</span>
      </a>
        <a href="/admin/gastos" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>receipt</mat-icon>
          <span class="nav-text">Gastos</span>
      </a>
      <a href="/admin/creditos" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="nav-text">Créditos Pendientes</span>
    </a>
        <a href="/admin/usuarios" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>person</mat-icon>
          <span class="nav-text">Usuarios</span>
      </a>
          <a href="/admin/ventas" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>shopping_cart</mat-icon>
              <span class="nav-text">Ventas</span>
          </a>
          <a href="/admin/reportes" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>bar_chart</mat-icon>
              <span class="nav-text">Reportes</span>
          </a>
          <a href="/admin/aldeas" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>star_border</mat-icon>
              <span class="nav-text">Aldeas</span>
          </a>

          <a routerLink="./logros" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>flare</mat-icon>
              <span class="nav-text">Mis Ventas</span>

          </a>
          <a routerLink="./perfil" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>face</mat-icon>
              <span class="nav-text">Mi perfil</span>
          </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
      <button mat-button class="nav-button" (click)="sidenav.toggle()">
          <mat-icon style="margin: 4px; font-size: 26px;">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-icon>person</mat-icon>
      <span>{{ usuarioActual?.nombre || 'Usuario' }}</span>
      <button mat-button class="nav-button" (click)="cerrarSesion()">
          <mat-icon style="margin: 4px; font-size: 26px;">logout</mat-icon>
      </button>
  </mat-toolbar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
